@font-face {
	font-family: Varela Round;
	src: local("Varela Round"), local("VarelaRound-Regular"), url(http://fonts.gstatic.com/s/varelaround/v6/APH4jr0uSos5wiut5cpjrnhCUOGz7vYGh680lGh-uXM.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
