@font-face {
	font-family: Raleway;
	src: local("Raleway Light"), local("Raleway-Light"), url(http://fonts.gstatic.com/s/raleway/v9/-_Ctzj9b56b8RgXW8FAriRsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	src: local("Raleway"), url(http://fonts.gstatic.com/s/raleway/v9/IczWvq5y_Cwwv_rBjOtT0w.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	src: local("Raleway Medium"), local("Raleway-Medium"), url(http://fonts.gstatic.com/s/raleway/v9/CcKI4k9un7TZVWzRVT-T8xsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url(http://fonts.gstatic.com/s/raleway/v9/xkvoNo9fC8O2RDydKj12bxsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	src: local("Raleway Bold"), local("Raleway-Bold"), url(http://fonts.gstatic.com/s/raleway/v9/JbtMzqLaYbbbCL9X6EvaIxsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	src: local("Raleway ExtraBold"), local("Raleway-ExtraBold"), url(http://fonts.gstatic.com/s/raleway/v9/1ImRNPx4870-D9a1EBUdPBsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	src: local("Raleway Heavy"), local("Raleway-Heavy"), url(http://fonts.gstatic.com/s/raleway/v9/PKCRbVvRfd5n7BTjtGiFZBsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
	font-weight: 900;
	font-style: normal;
}
